.card-heading {
  text-align: center;
  margin-bottom: 3.2rem;
  color: #2776ff;
  font-size: 2.5rem;
}

.card{  
  width:350px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
img{
  width: 100%;
}
.card-content{
  padding:1.5rem 1.2rem;
  display:flex;
  flex-direction: column;
  gap:1rem;
}

.card-content *::selection{
  background-color: antiquewhite;
}

.rating{
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 15px;
  border-radius: 15px;
  color:rgb(36, 30, 30);
}
.super-hit{
  background-color:#A8CD89;
}

.avg{
  background-color:#FFE893;
}

a{
  align-self:center;
  margin: 10px 0px;
}

button{
  color:black;;
  width:120px;
  height:40px;
  padding:10px;
  cursor:pointer;
  border:none;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  transition:all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 15px;
}

button:hover{
  background-color:white;
  width:140px;
}